*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#log-in-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 350px;
    min-height: 100px;
    background-color: #ffffff;
    z-index: 1000;
}

.fs-custom{
    font-size: 75px;
}

#emailInput{
    height: 50px;
}

#logIn{
    height: 50px;
}

.user{
    display: flex;
    position: absolute;
    z-index: -10;
    top: 40%;
    left: 10%;
}

.user i{
    font-size: 100px;
}

.computer{
    display: flex;
    position: absolute;
    z-index: -10;
    top: 40%;
    right: 10%;
}

.computer i{
    font-size: 100px;
}